'scopeName': 'source.hubris'

'name': 'Hubris'

'fileTypes': [
  'hb'
]

'patterns': [
  {
    'name'  : 'keyword.control.hurbis'
    'match' : '\\b(let|in|fun)\\b'
  }
  {
    'name'  : 'keyword.other.hubris'
    'match' : '\\b(module|inductive|import|match|with|forall|def|end)\\b'
  }
  {
    'name'  : 'constant.language.Type.hubris'
    'match' : '\\b(Type)\\b'
  }
  {
    'name'  : 'keyword.other.arrow.hubris'
    'match' : '->'
  }
  {
    'name' : 'comment.line.hubris'
    'match': '[\\s\\t]*--[^\\n]*\\n'
  }
]
